@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(../images/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../images/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(../images/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(../images/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body, tspan {
  font-family: Arial;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#modelDiv {
  position: absolute;
  top: 0px;
  left: 0px;
}

button {
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

button:hover, button:focus {
  background-color: #eeeeee;
}

#playPauseButton {
  position: absolute;
  top: 20px;
  left: 35px;
}

#resetButton {
  position: absolute;
  top: 20px;
  left: 85px;
}
